arrow==0.15.5
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
datacompy==0.7.1
DBUtils==1.3
Django==2.2.4
django-redis==4.11.0
et-xmlfile==1.0.1
Flask==1.1.2
idna==2.8
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.20
mysqlclient==2.0.2
numpy==1.18.1
openpyxl==3.0.3
pandas==0.25.3
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
redis==3.3.11
render==1.0.0
requests==2.22.0
six==1.13.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
urllib3==1.25.7
Werkzeug==1.0.1
xlrd==1.2.0
XlsxWriter==1.2.7
xlwt==1.3.0
